<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <property name="LOG_FILE" value="log/wechat.log"/>
        <property name="LOG_FILE_MAX_HISTORY" value="1"/>
    </springProfile>
    <springProfile name="prod">
        <property name="LOG_FILE" value="/var/log/wechat.log"/>
        <property name="LOG_FILE_MAX_HISTORY" value="30"/>
    </springProfile>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="root" level="INFO"/>

    <springProfile name="dev">
        <logger name="root" level="INFO"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.itrunner.wechat" level="INFO"/>
    </springProfile>
    <springProfile name="prod">
        <logger name="root" level="INFO"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.itrunner.wechat" level="INFO"/>
    </springProfile>
</configuration>